.btn {
  height: 2.5rem;
  width: 5.5rem;
  border-radius: 60px;
  padding: 12px;
  background-color: orangered;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
}
.getAppbtn {
  height: 2.5rem;
  width: 7rem;
  border-radius: 30px;
  font-weight: 700;
  border: none;
  background-color: rgb(223, 222, 222);
  cursor: pointer;
}
.getAppbtn p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
.setting {
  padding: 0.8rem;
  background-color: #fff;
  border: none;
  font-size: 14px;
  font-weight: bold;
  border-radius: 50%;
}
.modal {
  width: 14rem;
  background-color: rgb(248, 249, 250);
  font-size: 18px;
  font-weight: 400px;
  height: 8rem;
  position: absolute;
  margin-top: 3.6rem;
  margin-right: 1rem;
  top: 9.5%;
  right: 10px;
  z-index: 1000;
  padding: 0.8rem;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.modal ul {
  list-style: none;
}
.modal li {
  display: flex;
  align-items: center;
  gap: 5%;
  font-size: 16px;
  font-weight: 400;
  padding: 0.6rem;
  margin-bottom: 0.2rem;
  border-radius: 8px;
}
.modal li:hover {
  background-color: rgb(238, 238, 238);
  cursor: pointer;
}
.setting:hover {
  background-color: rgb(223, 222, 222);
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .getAppbtn,
  .setting,
  .modal {
    display: none;
  }
  .btn {
    height: 2rem;
    width: 4rem;
    padding: 10px;
    text-align: center;
    border-radius: 40px;
    font-size: 12px;
    font-weight: bold;
  }
}

@media screen and (min-width: 481px) and (max-width: 1180px) {
  .modal {
    width: 13.5rem;
    font-size: 14px;
    position: absolute;
    margin-right: 0.2rem;
    top: 5.1%;
    padding: 0.6rem;
  }
  .getAppbtn,
  .setting {
    display: none;
  }
}
