.parentContainer {
  display: flex;
  background-color: white;
  height: 44px;
  padding: 8px 2rem;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(155, 153, 153);
}
.logo {
  height: 30px;
}
.logoText {
  height: 46px;
}
.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.searchContainer {
  display: flex;
  flex-grow: 2;
  align-items: center;
  margin: 0 8% 0 15%;
}
.noSubmit {
  border: 1px solid #dbd8d8;
  height: 34px;
  width: 100%;
  padding: 9px 4px 9px 40px;
  border-radius: 40px;
  background: rgb(223, 222, 222)
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 13px center;
}
::placeholder {
  color: gray;
  font-size: 15px;
}
.noSubmit:hover {
  border: 1px solid rgb(94, 77, 243);
}
.noSubmit:focus {
  outline: none;
  border: 1px solid rgb(94, 77, 243);
}

@media screen and (max-width: 468px) {
  .logoText {
    display: none;
  }
  .parentContainer {
    padding: 10px;
  }
}
