.btn {
  height: 2.5rem;
  width: 5.5rem;
  border-radius: 60px;
  padding: 12px;
  background-color: orangered;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
}

.getAppbtn {
  height: 2.9rem;
  width: 7.5rem;
  border-radius: 30px;
  padding: 15px;
  font-weight: 700;
  border: none;
  background-color: rgb(223, 222, 222);
  cursor: pointer;
}
.getAppbtn span {
  font-size: 15px;
}
.getAppbtn img {
  width: 15px;
  height: 15px;
  margin-right: 12px;
}
.dotBtn {
  padding: 0.8rem;
  background-color: #fff;
  border: none;
  font-size: large;
  font-weight: bold;
  border-radius: 50%;
}
.dotBtn:hover {
  background-color: rgb(223, 222, 222);
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .getAppbtn,
  .dotBtn {
    display: none;
  }
  .btn {
    height: 2rem;
    width: 4rem;
    padding: 10px;
    text-align: center;
    border-radius: 40px;
    font-size: 12px;
    font-weight: bold;
  }
}

