.rock {
  background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);
}
.rock-button {
  background-image: linear-gradient(to top, #c47761 0%, #e08844 100%);
}
.ghost {
  background-image: linear-gradient(to top, #b7b7b8 0%, #e2ebf0 100%);
}
.ghost-button {
  background-image: linear-gradient(to top, #7272bb 0%, #7ec9f1 100%);
}
.electric {
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}
.electric-button {
  background-image: linear-gradient(to right, #f83600 0%, #f8d93f 100%);
}
.bug {
  background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
}
.bug-button {
  background-image: linear-gradient(to top, #f8b45b 0%, #ee9f31 100%);
}
.poison {
  background-image: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
}
.poison-button {
  background-image: linear-gradient(to top, #e064a4 0%, #6eaafd 100%);
}
.normal {
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
}
.normal-button {
  background-image: linear-gradient(-225deg, #b8f8e5 0%, #fa48d6 100%);
}
.fairy {
  background-image: linear-gradient(
    to top,
    #ff9a9e 0%,
    #fecfef 99%,
    #fecfef 100%
  );
}
.fairy-button {
  background-image: linear-gradient(
    to top,
    #fc6e72 0%,
    #f772cd 99%,
    #f865ca 100%
  );
}
.fire {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.fire-button {
  background-image: linear-gradient(120deg, #f7c831 0%, #f55e35 100%);
}
.grass {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.grass-button {
  background-image: linear-gradient(120deg, #befd2a 0%, #2ee747 100%);
}
.water {
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}
.water-button {
  background-image: linear-gradient(120deg, #68e8f1 0%, #227bf8 100%);
}
.ground {
  background-image: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%);
}
.ground-button {
  background-image: linear-gradient(315deg, #79270e 0%, #f7932f 74%);
}
.thumb-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 1.5rem 0.2rem; */
  margin: 0.5rem;
  border: 1px solid #efefef;
  border-radius: 0.25rem;
  min-width: 160px;
  width: 200px; /* Added fixed width */
  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
  transition: transform 0.3s ease-in-out;
}
.thumb-container:hover {
  /* margin: 0.7rem 0; */
  z-index: 1;
  transform: scale(1.2);
  /* border-radius: 10px; */
}

h3 {
  margin-bottom: 0.2rem;
  text-transform: uppercase;
  text-decoration: underline;
}
.thumb-container .number {
  border-radius: 100%;
  width: 14%;
  font-size: 0.8rem;
  text-align: center;
  margin: 0.5rem 4.8rem 0.5rem;
  padding: 0.4rem;
  background-color: rgba(255, 255, 255, 0.2);
}
.thumb-container img {
  width: 12.5rem;
  height: 8rem;
}

.thumb-container small {
  text-transform: capitalize;
}
button {
  margin: 1rem;
  border: none;
  border-radius: 0.3rem;
  text-align: center;
  width: 8rem;
  padding: 0.4rem;
  cursor: pointer;
}
